# macOS system files
.DS_Store

# Gradle build cache
.gradle/
buildSrc/.gradle/
**/build/

# Kotlin compilation caches
**/build/kotlin/
**/build/tmp/
**/build/intermediates/
**/buildOutputCleanup/

# APK files
*.apk

# Kotlin/Java compilation artifacts
*.class
*.jar
*.bin
*.lock
*.tab
*.keystream
*.keystream.len
*.len
*.values.at
*_i